.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* MY CONTENT */

/* GENERAL STYLE */

.container {
    width: 940px;
    margin: 0px auto;
}

/* HEADER */

.main__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 54px;
}

.logo {
    display: block;
    /* fonts */
}

.nav__items {
    display: flex;
    justify-content: space-between;
    width: 480px;
}

.nav__link {
    display: block;
    /* fonts */
    font-size: 14px;
    line-height: 41px;
    padding: 41px 15px;
}

/* SERVICES CONTAINER */

/* SECTION TITLE AND SUBTITLE */

.section__title {
    /* fonts */
    text-transform: uppercase;
    font-size: 40px;
    line-height: 75px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 3px;
}

.section__subtitle {
    font-size: 16px;
    line-height: 1.2;
    font-style: italic;
    color: #777777;
    margin-bottom: 74px;
}

.section__title,
.section__subtitle,
.head__service,
.discription__service {
    text-align: center;
}

.our__services {
    display: flex;
    justify-content: space-between;
}

.our__service {
    width: 280px;
    margin-bottom: 120px;
}

.service::before {
    content: "";
    display: block;
    margin: 0px auto;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid #fed136;
}

.basket::before {
    background: url(.././img/deco-img/basket.png) no-repeat 50% 50%;
}

.laptop::before {
    background: url(.././img/deco-img/laptop.png) no-repeat 50% 48%;
}

.locked::before {
    background: url(.././img/deco-img/locked.png) no-repeat 50% 44%;
}

.head__service {
    font-size: 18px;
    line-height: 75px;
    color: #222222;
}

.discription__service {
    font-size: 14px;
    line-height: 1.2;
    color: #777777;
}

.footer {
    background: url(.././img/deco-img/map.png) #222222 no-repeat right center;
    padding: 106px 0px 115px;
}
.contact__us .section__title {
    color: #ffffff;
}

.form__blok {
    display: flex;
    margin-bottom: 30px;
}

.text__input {
    width: 455px;
    height: 52px;
    margin-bottom: 28px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0px;
    color: #bbbbbb;
    font-family: "Montserrat";
    font-weight: 700;
    padding-left: 20px;
}

.first__blok ,.text__input:last-child {
    margin-bottom: 0px;
}

.big {
    height: 212px;
    padding-top: 18px;
    resize: none;
}

.send__button{
    width: 240px;
    height: 65px;
    display: block;
    margin: 0px auto; 
    border: none;
    border-radius: 3px;
    background-color: #fed136;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 700;
}