/* FONTS */

/* lobster-two-italic - latin */
@font-face {
    font-family: 'Lobster Two';
    font-style: italic;
    font-weight: 400;
    src: local('Lobster Two Italic'), local('LobsterTwo-Italic'),
         url('../fonts/lobster-two-v12-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lobster-two-v12-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('../fonts/roboto-slab-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-slab-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* pt-serif-italic - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    src: local('PT Serif Italic'), local('PTSerif-Italic'),
         url('../fonts/pt-serif-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/pt-serif-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* MY CONTENT */

/* GENERAL STYLE */

body {
    font-family: 'Montserrat', serif;
    font-weight: 400;
    letter-spacing: 0px;
}

.container {
    width: 940px;
    margin: 0px auto;
}

/* HEADER */

.main__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0px 82px;
}

.logo {
    display: block;
    font-family: 'Lobster Two';
    font-size: 26px;
    letter-spacing: 1px;
    line-height: 41px;
    color: #fed136;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    width: 480px;
}

.nav__link {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 41px;
    color: #222222;
    font-family: "Montserrat";
    font-weight: 400;
    padding: 15px 15px;
}

.nav__link:hover {
    color: #fed136;
}

/* SERVICES CONTAINER */

/* SECTION TITLE AND SUBTITLE */

.section__title {
    letter-spacing: -1px;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 75px;
    font-weight: 700;
    color: #222222;
    margin-bottom: 3px;
}

.section__subtitle {
    font-size: 16px;
    line-height: 1.2;
    font-style: italic;
    font-family: 'PT Serif';
    color: #777777;
    margin-bottom: 74px;
}

.section__title,
.section__subtitle,
.head__service,
.discription__service {
    text-align: center;
}

/* CONTENT OF OUR SITE */

.services {
    padding-bottom: 120px;
}

.our__services {
    display: flex;
    justify-content: space-between;
}

.our__service {
    width: 280px;
}

.service::before {
    content: "";
    display: block;
    margin: 0px auto;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 3px solid #fed136;
    margin-bottom: 22px;
}

.basket::before {
    background: url(.././img/deco-img/basket.png) no-repeat 50% 50%;
}

.laptop::before {
    background: url(.././img/deco-img/laptop.png) no-repeat 50% 48%;
}

.locked::before {
    background: url(.././img/deco-img/locked.png) no-repeat 50% 44%;
}

.head__service {
    font-size: 18px;
    line-height: 1.2;
    color: #222222;
    font-weight: 700;
    margin-bottom: 10px;
}

.discription__service {
    font-size: 14px;
    line-height: 1.2;
    color: #777777;
    font-family: "Roboto Slab";
}

/* FORM FOR USER */

.footer {
    background: url(.././img/deco-img/map.png) #222222 no-repeat right center;
    padding: 106px 0px 115px;
}
.contact__us .section__title {
    color: #ffffff;
}

.form__blok {
    display: flex;
    margin-bottom: 30px;
    font-size: 0px;
}

.text__input {
    width: 455px;
    height: 52px;
    margin-bottom: 28px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 52px;
    letter-spacing: 0px;
    color: #777777;
    font-weight: 700;
    padding-left: 20px;
    resize: none;
}

.text__input::placeholder {
    color: #bbbbbb;
}

.first__blok ,.text__input:last-child {
    margin-bottom: 0px;
}

.big {
    height: 212px;
    padding-top: 18px;
    line-height: 1.2;
}

.send__button{
    width: 240px;
    height: 65px;
    display: block;
    margin: 0px auto; 
    border: none;
    border-radius: 3px;
    background-color: #fed136;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 700;
}

.text__input:valid {
    outline-color: #00ff00;
}

.text__input:invalid {
    outline-color: #ff0000;
}