* {
    outline: 1px solid red;
}
.block {
    background-color: #00cc00;
    width: 100px;
    height: 100px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    /* margin: 100px; */
    padding: 100px;
    border: 200px;
}
.box {
    background-color: blue;
    color: #ffffff;
    width: 400px;
}